  <li>
    <a href="mailto:njrfarhandasilva10@gmail.com" itemprop="sameAs">
      <i class="fab fa-google" aria-hidden="true"></i> &nbspGmail
    </a>
  </li>
<!-- &nbsp -->
  <li>
    <a href="https://www.linkedin.com/in/fkpro/" itemprop="sameAs">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
    </a>
  </li>
  <li>
    <a href="https://github.com/khanfarhan10" itemprop="sameAs">
      <i class="fab fa-fw fa-github" aria-hidden="true"></i> Github
    </a>
  </li>
  <li>
    <a href="https://orcid.org/0000-0001-9854-760X" itemprop="sameAs">
      <i class="fas fa-id-card" aria-hidden="true"></i> &nbspOrcID
    </a>
  </li>
<!-- "fab fa-orcid" -->
  <li>
    <a href="https://instagram.com/i.am.the.swagger" itemprop="sameAs">
      <i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram
    </a>
  </li>
  <li>
    <a href="https://facebook.com/khanfarhanh" itemprop="sameAs">
      <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
    </a>
  </li>

